{% extends 'index.html' %}
    {% block title %}
        <title> Library </title>
    {% endblock %}
{% block content %}
    <div id="layoutSidenav_content" style="background-image: repeating-radial-gradient(circle, rgba(0, 0, 0, 0.8), rgba(255,255, 255, 0.8));">
        <div id="about-body">
            <h1 class='text-center' id="library-header">The C Library</h1>
            <p class="text-center" style="color: #fff;">Welcome to the dark abyss of our C library, where you'll find a treasure trove of resources to sharpen your skills in the art of programming.     Our books and tutorials are as dark as the void of space. We welcome all brave souls who dare to venture into the depths of C programming. Come, join us and embrace the darkness as you delve deeper into     the world of C.</p>
        </div>
        <div class="container text-center" style="margin-top: 30px;">
            <h2 class='text-center' style="text-shadow: 2px 2px 5px red;">Books</h2>
            <div class="row row-cols-4" style="padding: 10px;">
                <div class="col" id="books-collection">
                    <a target="_blank" role="button" class="btn-trigger-modal" data-pdf-url="https://drive.google.com/file/d/1qWnV9icCIKioe1nk6ugEomPIVyqqfwNm/preview" data-pdf-redirect="" data-pdf-title="Sams teach yourself C" >
                        <img src="{{ url_for('static', filename='assets/img/samTeachC.png') }}" alt="sam teach yourself C" width="250" height="250">
                    </a>
                </div>
                <div class="col" id="books-collection">
                    <a target="_blank" role="button" class="btn-trigger-modal" data-bs-toggle="tooltip" data-pdf-url="https://drive.google.com/file/d/1U1Ytd4fUNDzT9SQzJeBgn3T-oeN-UKfO/preview" data-pdf-redirect="http://cslabcms.nju.edu.cn/problem_solving/images/c/cc/The_C_Programming_Language_%282nd_Edition_Ritchie_Kernighan%29.pdf" data-pdf-title="The C Programming Language">
                        <img src="{{ url_for('static', filename='assets/img/KandR.png') }}" alt="The C programming Language" width="250" height="250">
                    </a>
                </div>
                <div class="col" id="books-collection">
                    <a target="_blank" type="button" class="btn-trigger-modal" data-pdf-url="https://drive.google.com/file/d/15S-J23WzowHpPGPnAT7WHgpirLxADyTR/preview" data-pdf-redirect="" data-pdf-title="Head First">
                        <img src="{{ url_for('static', filename='assets/img/headfirstC.png') }}" alt="Head First C" width="250" height="250">
                    </a>
                </div>
                <div class="col" id="books-collection">
                    <a target="_blank" type="button" class="btn-trigger-modal" data-pdf-url="https://drive.google.com/file/d/16ieSGGWThN_nA1hL36yHHmg6WrWFJo1e/preview" data-pdf-redirect="https://csit.ust.edu.sd/files/2019/10/Data-structure-using-C-1.pdf" data-pdf-title="C Data Structure">
                        <img src="{{ url_for('static', filename='assets/img/dataStructinC.png') }}" alt="Learn Data Structure" width="250" height="250">
                    </a>
                </div>
                <div class="col" id="books-collection">
                    <a target="_blank" type="button" class="btn-trigger-modal" data-pdf-url="https://drive.google.com/file/d/1qTD9d_lkzBp0UtS31rCLwUIEdwYqUHMU/preview" data-pdf-redirect="" data-pdf-title="C Ultimate Guide">
                        <img src="{{ url_for('static', filename='assets/img/CUtimateguide.png') }}" alt="C Ultimate Guide" width="250" height="250">
                    </a>
                </div>
                <div class="col" id="books-collection">
                    <a target="_blank" type="button" class="btn-trigger-modal" data-pdf-url="https://drive.google.com/file/d/1PigbfnB12r_TFbE2gSxwYTt1JspJIMkw/preview" data-pdf-redirect="" data-pdf-title="Learn to Program with C">
                        <img src="https://ucarecdn.com/aaf36809-f94f-4000-9170-88290fd2d412/" alt="C Ultimate Guide" width="250" height="250">
                    </a>
                </div>
            </div>
        </div>
        <div class="container text-center" style="margin-top: 30px;">
            <h2 class='text-center' style="text-shadow: 2px 2px 5px red;">Video Tutorials</h2>
            <div class="row row-cols-2" style="padding: 10px;">
                <div class="col">
                    <iframe class="youtube-frame" width="560" height="315" src="https://www.youtube.com/embed/EjavYOFoJJ0?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="col">
                    <iframe class="youtube-frame" width="560" height="315" src="https://www.youtube.com/embed/igv48oGvlPk?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="col">
                    <iframe class="youtube-frame" width="560" height="315" src="https://www.youtube.com/embed/j-_s8f5K30I?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="col">
                    <iframe class="youtube-frame" width="560" height="315" src="https://www.youtube.com/embed/87SH2Cn0s9A?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="col">
                    <iframe class="youtube-frame" width="560" height="315" src="https://www.youtube.com/embed/4OGMB4Fhh50?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="col">
                    <iframe class="youtube-frame" width="560" height="315" src="https://www.youtube.com/embed/1WcRU2j8FxM?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 30px;">
            <h2 class='text-center' style="text-shadow: 2px 2px 5px red;">Top Learning Platforms</h2>
            <div class="row">
                <div class="col">
                    <div class="list-group" id="blog-list">
                        <a  class="list-group-item list-group-item-action" href="https://www.learn-c.org/" target="_blank">Codecademy</a></li>
                        <a  class="list-group-item list-group-item-action" href="https://www.sololearn.com/" target="_blank">SoloLearn</a></li>
                        <a  class="list-group-item list-group-item-action" href="https://www.educative.io/courses/learn-c-from-scratch?affiliate_id=5073518643380224" target="_blank">W3Schools</a>
                        <a  class="list-group-item list-group-item-action" href="https://www.programiz.com/c-programming/c-functions" target="_blank">Programiz</a>
                        <a  class="list-group-item list-group-item-action" href="https://www.w3schools.com/c/" target="_blank">w3shools</a>
                        <a  class="list-group-item list-group-item-action" href="https://www.tutorialspoint.com/cprogramming/index.htm" target="_blank">TutorialPoint</a>
                        <a  class="list-group-item list-group-item-action" href="https://www.edx.org/" target="_blank">EdX</a></li>
                        <a  class="list-group-item list-group-item-action" href="https://www.alxafrica.com/software-engineering/" target="_blank">ALX Africa</a>
                        <a  class="list-group-item list-group-item-action" href="https://www.geeksforgeeks.org/c-programming-language/" target="_blank">DigitalOcean</a>
                        <a  class="list-group-item list-group-item-action" href="https://www.freecodecamp.org/learn/" target="_blank">FreeCodeCamp</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 30px; margin-bottom: 20px;">
            <h2 class='text-center' style="text-shadow: 2px 2px 5px red;">Trending Blogs</h2>
            <div class="row">
                <div class="col">
                    <div class="list-group" id="blog-list">
                        <a class="list-group-item list-group-item-action" href="https://medium.com/" target="_blank">Medium</a>
                        <a class="list-group-item list-group-item-action" href="https://c-for-dummies.com/blog/" target="_blank">CForDummies</a>
                        <a class="list-group-item list-group-item-action" href="https://sillycodes.com/" target="_blank">Sillycodes</a>
                        <a class="list-group-item list-group-item-action" href="https://www.studytonight.com/c/programs/" target="_blank">StudyTonight</a>
                        <a class="list-group-item list-group-item-action" href="https://www.poftut.com/category/programming/c/" target="_blank">Poftut</a>
                        <a class="list-group-item list-group-item-action" href="http://elegantc.blogspot.com/" target="_blank">ElegantC</a>
                        <a class="list-group-item list-group-item-action" href="http://www.robertgamble.net/" target="_blank">Robs</a>
                    </div>
                </div>
            </div>
        </div>
    {% block modal %}
        {{ super() }}
    {% endblock %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" id="clear-modal">
                <div class="modal-header" style="color: #fff;">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="pdf-object" src="" type="application/pdf" width="100%" height="100%">
                        <p>PDF cannot be displayed. <a id="pdf-download-link" href="#">Download it here</a>.</p>
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="py-4 bg-dark mt-auto">
{% endblock %}

