{% extends 'index.html' %}
{% block title %}
    <title>ChatGroup</title>
{% endblock %}
{% block sideNav %}
    <div class="card mb-3" style="background-color: #100f0f; border-bottom: 0.5px solid white;">
        <img src="https://ucarecdn.com/5f9b227f-e22b-4b90-846c-9fecd07b7a1b/" class="card-img-top" alt="..."  style="border-radius: 50%; height: auto; width: 50%;">
        <div class="card-body" style="color: #fff;">
            <h5 class="card-title">{{ user }}</h5>
            <br>
            <span class="badge rounded-pill bg-primary">Online</span>
            <br>
            <p class="card-text">The Gods of Olympus has abandoned me</p>
            <br>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
         <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
             <div id="chat-link"><iconify-icon icon="fluent:people-community-16-regular" height="30" width="30" style="color: #fff;"></iconify-icon></div>&nbsp&nbsp
             Your Communities
             <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
         </a>
         <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
               <div class="sb-nav-link-icon" id="chat-link"><iconify-icon icon="fluent:add-12-filled" height='20' width='20' style="color: #fff;"></iconify-icon></div>
                  Create Community
          </a>
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              {% for community in communities %}
                  {% for key, value in community.items() %}
                  <a class="nav-link" href="{{ url_for('Main.ChatRoomID', room_id=key) }}">
                      <div class="sb-nav-link-icon" id="chat-link"><iconify-icon icon="fluent:people-community-28-filled" height="20" width="20" style="color: #00FF00;"></iconify-icon></div>
                      {{ value['name'] }}
                  </a>
                  {% endfor %}
              {% endfor %}
          </nav>
      </div>
   <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
       <div id="chat-link"><iconify-icon icon="carbon:friendship" height="30" width="30" style="color: #fff;"></iconify-icon></div>&nbsp&nbsp
       Friends
       <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
      <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="#">
              <div class="sb-nav-link-icon" id="chat-link"><iconify-icon icon="fluent:add-12-filled" height='20' width='20' style="color: #fff;"></iconify-icon></div>
              Add Friend
          </a>
          <a class="nav-link" href="#">
              <div class="sb-nav-link-icon" id="chat-link"><iconify-icon icon="fluent:people-community-28-filled" height="20" width="20" style="color: #00FF00;"></iconify-icon></div>
              Friends List
          </a>
      </nav>
  </div>

{% endblock %}
{% block content %}
<div id="layoutSidenav_content" class="chatbot-container">
    <main>
        <div class="group-intro">
            <div class="grouppie">
                <h2 class="group-title">{{ groupinfo.name }}</h2>
            </div>
            <div class="btn-group dropend" id="group-title-dropdown">
                <button type="button"  class="group-title-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><iconify-icon icon="entypo:dots-three-vertical" width="30" height="50"></iconify-icon></button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Group Info</button></li>
                    <li><button type="button" class="dropdown-item" href="#">clear chat</button></li>
                    <li><button type="button" class="dropdown-item" href="#">Report</button></li>
                    <li><button type="button" class="dropdown-item" href="#">Leave Group</button></li>
                    <li><button type="button" class="dropdown-item" href="#">Delete Group</button></li>
                </ul>
            </div>
        </div>
        <div class="chat-container">
             <section class="chat-conversation">
                              <div class="sent-message">
                                  <p class="sent-message"></p>
                              </div>
                              <div class="replied-message">
                                  <p class="received-message"></p>
                              </div>
            </section>
        </div>
        <div class="chat-form">
            <form>
                <div id="input-container">
                    <textarea type="text" id="my-chat-input" placeholder= "Enter a text here ..."></textarea>
                    <div class="input-group-append">
                        <button id="chat-submit" type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Send message"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" id="clear-modal">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ groupinfo.name }}</h1>&nbsp&nbsp&nbsp
                        <span class="fs-6">202 Participants</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2 class="fs-6">Group ID</h2>
                        <span class="fs-6">123</span>
                        <h2 class="fs-6">Group Members</h2>
                        {% for person in groupinfo.users %}
                            <ul class="fs-6">
                                <li class="fs-6">{{ person }}</li>
                            </ul>
                        {% endfor %}
                        <h2 class="fs-6">Group Admin</h2>
                        <p class="fs-6">{{ groupinfo.admin }}</p>
                        <h2 class="fs-6">Active members</h2>
                        <p class="fs-6">1</p>
                        <h2 class="fs-6">Description</h2>
                        <p class="fs-6">{{ groupinfo.description }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
<footer class="py-4 bg-dark mt-auto">
{% endblock %}
