{% extends 'chatRoom.html' %}
    {% block newblock %}
        <div id="layoutSidenav_content" class="chatbot-container">
            <main>
                <div class="group-intro">
                    <div class="grouppie">
                        <h2 class="group-title">{{ groupinfo.name }}</h2>
                    </div>
                    <div class="btn-group dropend" id="group-title-dropdown">
                        <button type="button"  class="group-title-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><iconify-icon icon="entypo:dots-three-vertical" width="30" height="50"></iconify-icon></button>
                        <ul class="dropdown-menu">
                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Group Info</button></li>
                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal2">clear chat</button></li>
                            <li><button type="button" class="dropdown-item" href="#">Report</button></li>
                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Leave Group</button></li>
                            <li><button type="button" class="dropdown-item" href="#">Delete Group</button></li>
                        </ul>
                    </div>
                </div>
                <div class="chat-container" style="margin-top: 80px;">
                    <section class="group-chat-conversation">
                        {% for item in chats %}
                            {% if item.sender == user %}
                                <span id="joinMessage" style="text-align: center; font-size: 15px;"></span>
                                    <div class="sent-group-message d-flex flex-column  mb-3">
                                        <div class="grp-username"><h6 class="sent-group-chat-username" style="color: #d6d6d6;">{{ item.sender }}</h6></div>
                                            <p class="sent-group">{{ item.text }}</p>
                                        <div class="grp-sent-time">{{ item.date }}</div>
                                    </div>
                            {% else %}
                                <div class="replied-group-message d-flex flex-column mb-3">
                                    <div class="replied-grp-username"><h6 class="replied-group-chat-username" style="color: #d6d6d6;">{{ item.get("sender") }}</h6></div>
                                        <p class="received-group-message">{{ item.get("text") }}</p>
                                    <div class="replied-grp-sent-time">{{ item.get("date") }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
                <div class="chat-form">
                    <form>
                        <div id="input-container">
                            <input type="hidden" id="hiddenId" value="{{ ID }}" style="display: none;">
                            <textarea class="groupchat-textinput" id="groupMsg" type="text" placeholder= "Enter a text here ..."></textarea>
                            <div class="input-group-append">
                                <button class="groupchat-submit-btn" id="send-groupMsg" type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Send message"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content" id="clear-modal">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ groupinfo.name }}</h1>&nbsp&nbsp&nbsp
                                <span class="fs-6">{{ groupinfo.users | length }} Participants</span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h2 class="fs-6">Invitation code</h2>
                                <span class="fs-6" id="invite-code">{{ groupinfo.code }}</span>
                                <h2 class="fs-6">Group Members</h2>
                                {% for person in groupinfo.users %}
                                    <ul class="fs-6">
                                        <li class="fs-6">{{ person }}</li>
                                    </ul>
                                {% endfor %}
                                <h2 class="fs-6">Group Admin</h2>
                                <p class="fs-6">{{ groupinfo.admin }}</p>
                                <h2 class="fs-6">Description</h2>
                                <p class="fs-6">{{ groupinfo.description }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2" data-bs-dismiss="modal">Edit group info</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" id="clear-modal">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Edit group info</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Change group name</label>
                                        <input type="text" class="form-control" id="group-name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">New description</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-target="#staticBackdrop2" data-bs-toggle="modal">Back</button>
                                <button type="button" class="btn btn-success" id="edit-group-info">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="clear-modal">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Exit group</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Are you sure you want to leave the group?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                <button type="button" class="btn btn-danger" id="exit-group">Leave group</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="clear-modal">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Clear chat history</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">Are you sure you want to clear the chat history?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="clear-group-history">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
