{% extends 'login.html' %}
{% block title %}<title>Forgot password</title>{% endblock %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <h1 class="border-bottom signup" style="text-shadow: 0 0 3px #FF0000;">Reset Password</h1>
        <div class="text-dark mb-2">
            {{ form.email.label(class="form--label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-sm rounded", autocomplete="email") }}
            {% endif %}
        </div>
        <div class="form-group forgot-btn">
            {{ form.submit(class="btn btn-outline-success text-dark", id="frm-btn") }}
        </div>
    </form>
{% endblock %}
