{% extends 'chatRoom.html' %}
{% block newblock %}
    <div id="layoutSidenav_content" class="chatbot-container">
        <main>
            <div class="group-intro" id="friendsGroup-bar">
                <ul class="navbar-nav" id="friendsNav">
                    <li class="nav-item" id="Nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><iconify-icon icon="fa-solid:user-friends" style="color: #fff;"></iconify-icon>&nbsp Friends</a>
                    </li>
                    <li class="nav-item" id="Nav-item">
                        <a class="nav-link" href="#">Online</a>
                    </li>
                    <li class="nav-item" id="Nav-item">
                        <a class="nav-link" href="#">All</a>
                    </li>
                    <li class="nav-item" id="Nav-item">
                        <a class="nav-link" href="#">Pending</a>
                    </li>
                    <li class="nav-item" id="Nav-item">
                        <a class="nav-link" href="#">Blocked</a>
                    </li>
                </ul>
            </div>
{% endblock %}
       
