{% extends 'index.html' %}
{% block content %}
<div id="layoutSidenav_content" class="chatbot-container">
    <main>
        <div class="chat-eyes">
            <div class="navbar-brand" id ="nav-id">
                <iconify-icon icon="openmoji:eyes" height="60" width="75"></iconify-icon>
            </div>
        </div>
        <div class="chat-container">
            <section class="chat-conversation">
                {% for message in data %}
                    {% if message.role == 'user' %}
                        {% if message.ID == ID %}
                            <div class="sent-message">
                                <p class="sent-message">{{ message.content }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if message.role == 'bot' %}
                        {% if message.ID == ID %}
                            <div class="replied-message">
                                <p class="received-message">{{ message.content }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </section>
        </div>
        <div class="chat-form">
            <form>
                <div id="input-container">
                    <textarea type="text" id="my-chat-input" placeholder= "Enter a prompt here ..."></textarea>
                    <div class="input-group-append">
                        <button id="chat-submit" type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Send message"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </form>
        </div>
        {% block modal %}
            {{ super() }}
        {% endblock %}
    </main>
    <footer class="py-4 bg-dark mt-auto">
{% endblock %}
