{% extends "login.html" %}
{% block title %}
    <title>Password Reset</title>
{% endblock %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <h1 class="border-bottom signup" style="text-shadow: 0 0 3px #FF0000;">Reset Password</h1>
        <div class="form-group">
            <div class="text-dark">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(type="password",  autocomplete="new-password", class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="text-nowrap text-dark">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(type="password",  autocomplete="new-password", class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group" id="frm-btn">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock %}
